<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/app.css">
    <title>Questionnaire</title>
</head>
<body>
    <section class='messages'>
        {% for msg in get_flashed_messages() %}
            <p> {{ msg }}</p>
        {% endfor %}
    </section>
    {% block content %}
    {% endblock %}
    
<script src="app.js"></script>
</body>
</html>

